@import url('_theme/_fruits/instagram__photo_theme_fruits.css');
@import url('_theme/_hair/instagram__photo_theme_hair.css');
@import url('_theme/_hand/instagram__photo_theme_hand.css');
@import url('_theme/_legs/instagram__photo_theme_legs.css');
@import url('_theme/_mauntain/instagram__photo_theme_mauntain.css');
@import url('_theme/_ocean/instagram__photo_theme_ocean.css');
@import url('_theme/_scarf/instagram__photo_theme_scarf.css');
@import url('_theme/_sea/instagram__photo_theme_sea.css');

.instagram__photo {
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
}
