.pricing__product {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.625;
  text-align: center;
  color: #222F65;
  margin: 0 0 3rem;
}

@media (min-width: 768px) {
  .pricing__product {
    margin-bottom: 3.75rem;
  }
}
