@import url('title/instagram__title.css');
@import url('grid-container/instagram__grid-container.css');
@import url('photo/instagram__photo.css');
@import url('link/instagram__link.css');


.instagram {
  width: 100vw;
  max-width: 1920px;
  min-width: 1270px;
}
