@import url('__title/instagram__title.css');
@import url('__grid-container/instagram__grid-container.css');
@import url('__photo/instagram__photo.css');
@import url('__link/instagram__link.css');


.instagram {
  width: 100vw;
  max-width: 1920px;
  min-width: 1270px;
}
