@import url('position/top/advertising__triangle_position_top.css');
@import url('position/down/advertising__triangle_position_down.css');

.advertising__triangle {
  background-color: #ffc600;
  width: 121px;
  height: 121px;
}
