@import url("type/be/header__social-link_type_be.css");
@import url('type/facebook/header__social-link_type_facebook.css');
@import url('type/in/header__social-link_type_in.css');
@import url('type/pix/header__social-link_type_pix.css');

.header__social-link {
  display: flex;
  cursor: pointer;
  margin-right: 13px;
}
