.news__paragraph {
  font-family: 'Quattrocento Sans', Arial, sans-serif;
  width: 321px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  color: #707070;
  margin: 0 auto 17px;
}
