@import url('column-container/footer__column-container.css');
@import url('column/footer__column.css');
@import url('copyright-container/footer__copyright-container.css');
@import url('copyright/footer__copyright.css');
@import url('link/footer__link.css');
@import url('list/footer__list.css');
@import url('paragraph/footer__paragraph.css');


.footer {
  display: flex;
  width: 100vw;
  max-width: 1920px;
  min-width: 1270px;
  min-height: 181px;
}
