.footer__paragraph {
  font-family: 'Quattrocento Sans', Arial, sans-serif;
  font-size: 11.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: right;
  color: #898989;
  margin: 0 91px 0 0;
}
