.footer__copyright {
  font-family: 'Quattrocento Sans', Arial, sans-serif;
  font-size: 13.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.56;
  letter-spacing: normal;
  text-align: right;
  color: #898989;
  margin: 64px 91px 0 0;
}
