@import url('_position/_down/news__side-instagram-picture_position_down.css');
@import url('_position/_bottom/news__side-instagram-picture_position_bottom.css');

.news__side-instagram-picture {
  width: 160px;
  height: 167px;
  object-fit: none;
}
