.navigation__column {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.7145;
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem 0 0;
}

@media (min-width: 425px) {
  .navigation__column {
    font-size: 0.875rem;
    margin: 0;
  }
}
