.news__social {
  display: inline;
  margin-right: 17px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #898989;
  font-family: 'Quattrocento Sans', Arial, sans-serif;
}
