.page__photo-grid {
  margin: 6.0625rem auto 6.75rem;
}

@media (min-width: 1280px) {
  .page__photo-grid {
    margin-top: 6.1875rem;
    margin-bottom: 5.9375rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page__photo-grid {
    margin-top: 5.9375rem;
    margin-bottom: 6.0625rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .page__photo-grid {
    margin-top: 4.3125rem;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .page__photo-grid {
    margin-top: 4.4375rem;
    margin-bottom: 3.5rem;
  }
}
