.advertising__subtitle {
  font-family: 'Quattrocento Sans', Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  margin: 0 auto;
  color: #636363;
  text-align: center;
}
