.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #CDD1D4;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .footer__container {
    padding-bottom: 2.5rem;
  }
}
