@import url("_type/_be/header__social-link_type_be.css");
@import url('_type/_facebook/header__social-link_type_facebook.css');
@import url('_type/_in/header__social-link_type_in.css');
@import url('_type/_pix/header__social-link_type_pix.css');

.header__social-link {
  display: flex;
  cursor: pointer;
  margin-right: 13px;
}
