.video__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875em;
  line-height: 1.07;
  color: #FFFFFF;
  mix-blend-mode: screen;
  margin: 0 0 0 1.875rem;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .video__subtitle {
    margin-left: 1.5rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .video__subtitle {
    margin-left: 1.5rem;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .video__subtitle {
    margin-left: 1rem;
  }
}
