@import url('__cost/pricing__cost.css');
@import url('__product/pricing__product.css');
@import url('__select/pricing__select.css');
@import url('__button/pricing__button.css');
@import url('__content-title/pricing__content-title.css');
@import url('__content-subtitle/pricing__content-subtitle.css');


.pricing {
  background: url('../../images/bigcloud.svg') top no-repeat, url('../../images/Rectangle.svg') 0 75px no-repeat;
  background-size: 600px, cover;
  padding-bottom: 4rem;
}

@media (min-width: 540px) {
  .pricing {
    padding-bottom: 6rem;
  }
}

@media (min-width: 768px) {
  .pricing {
    padding-bottom: 15.5625rem;
    padding-top: 10rem;
    background-size: 1060px, cover;
    background: url('../../images/bigcloud.svg') top no-repeat, url('../../images/Rectangle.svg') 0 58px no-repeat;
  }
}

@media (min-width: 1280px) {
  .pricing {
    padding-bottom: 16.5625rem;
  }
}
